@import './vars.sass';

.add-panel
    display: flex
    flex-direction: column
    padding: 10px
    background-color: $forms-color
    &-button
        font-size: 12px
        font-weight: 700
        margin-top: 10px
        padding: 5px
        cursor: pointer
        &.active
           border: 2px solid rgba(0, 120, 215, 1) 
        &:hover
            border: 2px solid rgba(0, 120, 215, 0.3)