@import "vars.sass"

.footer
    flex: 0 0 auto
    flex-shrink: 0
    background-color: $site-color
    color: #ffffff
    padding-top: 10px
    .grid
        padding: 10px 0
    a
        color: #ffffff
    .label
        display: flex
    .logo
        background-image: url('../img/logo_icon.png')
        background-size: cover
        height: 46px
        width: 40px
    .signature
        display: flex
        flex-direction: column
        margin-left: 10px
        font-weight: bold
        .name
            font-size: 1.4em
        .year
            font-size: 1em
    
    .contacts
        display: flex
        flex-direction: column
        font-size: 1em
        span, a
            margin: 3px
            &:first-child
                margin-top: 0

    .social
        display: flex
        flex-direction: column
        .vk
            background-image: url('../img/vk.png')
            background-size: cover
            width: 30px
            height: 30px
            margin-top: 5px