.curve-option
    display: flex
    width: 295px
    background-color: #f0f0f0
    flex-direction: column

.curve-color
    display: flex
    .color-squar
        width: 45px
        height: 22px
        border: 1px solid black
        background-color: #a80000