.light-fill
    transform: scale(1.02)
    transition: all .2s

.crs-point
    cursor: pointer

.disabled
    cursor: not-allowed

.ta-c
    text-align: center

.flex
    display: flex

.inline-block
    display: inline-block

.none
    display: none

.h-end
    justify-content: flex-end

.v-end
    align-items: flex-end

.hc
    justify-content: center

.vc
    align-items: center

.spc-btw
    justify-content: space-between

.spc-ard
    justify-content: space-around

.wrap
    flex-wrap: wrap

.column
    flex-direction: column

.mb-5
    margin-bottom: 5px

.mb-10
    margin-bottom: 10px

.mb-15
    margin-bottom: 15px

.ml-3
    margin-left: 3px

.ml-5
    margin-left: 5px

.ml-20
    margin-left: 20px

.mr-5
    margin-right: 5px

.mr-20
    margin-right: 20px

.mr-30
    margin-right: 30px

.mt-5
    margin-top: 5px

.mt-10
    margin-top: 10px

.mt-15
    margin-top: 15px

.mt-20
    margin-top: 20px

.m-20
    margin: 20px

.mlr-5
    margin-left: 5px
    margin-right: 5px

.mlr-10
    margin-left: 10px
    margin-right: 10px

.pd-10
    padding: 10px

.pl-10
    padding-left: 10px

.pr-10
    padding-right: 10px

.pb-10
    padding-bottom: 10px

.stretch
    width: 100%

.w85px
    width: 85px

.w150px
    width: 150px

.w285px
    width: 285px

.h25px
    height: 25px

.bs-1
    border: 1px solid #000000

.fb
    font-weight: 700
