@import './vars.sass';
@import './media.sass'
    
.header
    position: fixed
    flex: 0 0 auto
    background-color: $menu
    z-index: 50
    @include _desktop
        position: relative
    .header-wrapper
        display: flex
        justify-content: space-between
        align-items: center
        width: 100vw
        height: max-content
        @include _desktop
            justify-content: flex-start
        .logo
            width: 170px
            height: 55px
            background-image: url('../img/logo.gif')
            background-color: #ffffff
            @include _desktop
                margin-right: 20px

.menu
    display: block
    font-weight: 400
    line-height: 1.42857143
    white-space: nowrap
    cursor: pointer
    @include _desktop
        display: flex
    .burger
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        width: 50px
        height: 35px
        border: 1px solid $menu-font
        border-radius: 3px
        margin-right: 5px
        &-line
            width: 70%
            height: 2px
            background-color: $menu-font
        @include _desktop
            display: none
            
    &-item
        display: none
        position: relative
        padding-right: 30px
        padding-left: 20px
        @include _desktop
            display: flex
            padding-left: 0
            height: 50px
        &:hover
            .menu-subitem
                display: block
        &.active
            display: block
        &--title
            display: flex
            align-items: center
            font-size: 16px
            font-weight: 700
            color: $menu
            @include _desktop
                background-color: $menu
                color: $menu-font
                font-size: 14px
    
    &-subitem
        width: max-content
        @include _desktop
            display: none
            position: absolute
            left: 0
            top: 50px
            background-color: $menu
        .subitem 
            display: block
            padding: 5px 20px
            @include _desktop
                color: $menu-font
            &:hover
                background-color: $hover-menu

.drop-title
    background-color: $hover-menu

.show-subitem
    display: block