@import 'vars.sass';

.home
    .caption
        display: flex
        align-items: center
        flex-direction: column
        font-weight: bold
        color: $site-color
        margin-top: 30px
        div
            font-size: 36px
            text-align: center
    .content
        flex-direction: column
        &-group
            margin: 20px 15px
            &-title
                color: $site-color
                font-size: 18px
            ul
                margin-left: 20px
                li
                    margin-bottom: 10px
