@import './vars.sass';
    
input, select
    margin: 0
    padding: 0
    height: 18px
    padding-left: 5px
    border: 1px solid $border-input-color

.wrapper
    display: flex
    &.left
        flex-direction: row
        align-items: center
    &.top
        flex-direction: column
    &.bottom
        flex-direction: column-reverse
    &.right
        flex-direction: row-reverse

    &.direction
        justify-content: flex-end

label
    display: flex

.icon
    cursor: pointer
    background-repeat: no-repeat
    background-position: 0px 0px
    &.save
        background-image: url(../img/saveChange.gif)
        width: 20px
        height: 20px
        &.onmouse
            background-position: -20px 0px 
        &.onclick
            background-position: -40px 0px

    &.delete
        background-image: url(../img/delete.gif)
        width: 33px
        height: 33px
        &.onmouse
            background-position: -33px 0px 
        &.onclick
            background-position: -66px 0px

    &.simafor
        background-image: url(../img/simafor.gif)
        width: 30px
        height: 30px
        &.onclick
            background-position: -30px 0px
    &.spin
        background-image: url(../img/spin.gif)
        width: 15px
        height: 24px

.input-wrapper
    display: flex
    align-items: center

.radio-group
    height: 30px
    position: relative

    .caption-radio
        position: absolute
        padding-left: 5px
        padding-right: 5px
        font-size: 12px
        top: -7px
        left: 5px

    .inputs-wrapper
        align-items: center
        border: 1px solid $border-color
        padding-top: 10px
        padding-bottom: 3px
        padding-left: 10px
        .inputs
            display: flex
            justify-content: space-between
            width: 80%
            input[type="radio"]
                cursor: pointer

        .spin
            width: 15px
            height: 24px
            background-color: #e1e1e1