@import './vars.sass';
@import './media.sass'

.menu
    font-weight: 400
    line-height: 1.42857143
    white-space: nowrap
    cursor: pointer
    .burger
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        width: 50px
        height: 35px
        border: 1px solid #ffffff
        border-radius: 3px
        margin-right: 5px
        &-line
            width: 70%
            height: 2px
            background-color: #ffffff
        // @include _mobile
        //     display: flex
            
    &-item
        // display: none
        position: relative
        padding-right: 30px
        padding-left: 20px
        // @include _mobile
        //     display: none
        // &:hover
        //     .menu-subitem
        //         display: block
        &--title
            display: flex
            align-items: center
            font-size: 16px
            font-weight: 700
            color: #009999
            // background-color: $menu
    
    &-subitem
        // display: none
        // position: absolute
        // left: 0
        width: max-content
        // background-color: $menu
        .subitem 
            display: block
            padding: 5px 20px
            // color: $menu-font
            &:hover
                background-color: $hover-menu

// .modal
//     &-menu
//         display: flex
//         flex-direction: column
//         &-item
//             &--title
//                 font-size: 16px
//                 font-weight: 700
//                 margin: 10px
//         &-subitem
//             display: flex
//             flex-direction: column
//             margin: 0 10px 5px 20px

.drop-title
    background-color: $hover-menu

.show-subitem
    display: block