.modal
    position: fixed
    left: 0
    top: 0
    right: 0
    bottom: 0
    display: flex
    flex-direction: column
    background-color: #ffffff
    z-index: 100
    &-close-wrapper
        padding: 10px
    &-icon
        width: 15px
        height: 15px
        position: fixed
        right: 10px
        background-color: white
        top: 10px
    &-content
        margin-top: 20px
        overflow-y: scroll