.options
    width: 370px
    &-caption,
    &-axis,
    &-legend
        display: flex
        flex-direction: column
        padding: 10px 8px 16px 8px
        margin-top: 5px
        margin-right: 15px
        border: 1px solid white
        &_value
            font-weight: bold
            margin-bottom: 15px
        &_down
            display: flex
            justify-content: space-between
            align-items: flex-end
            margin-top: 20px
        input[type="text"]
            height: 24px
            margin-top: 5px
        button
            width: 120px
            height: 28px
    
    &-caption
        input[type="text"]
            width: 105px
            margin-top: 5px

    &-axis
        &_down
            input[type="text"]
                width: 172px

    &-legend
        &_down
            input[type="text"]
                width: 162px

    &-button
        display: flex
        padding: 13px 0 27px 0
        button
            height: 32px
            &:first-child
                margin-bottom: 17px
        &_left
            button
                width: 192px
                margin-left: 2px
        &_right
            button
                width: 135px
                margin-right: 12px
                