@import './vars.sass';

select
    background-color: #ffffff

.empty-wrapper
    height: 100px
    background-color: #dddddd
    display: flex
    align-items: center
    justify-content: center
    margin: 20px 5px
    &-title
        font-size: 20px
        font-weight: 700
        color: #777777

.base-panel
    width: 280px;
    background-color: #ffffff
    border: 1px solid #959595
    .character-section,
    .automat-section
        display: flex
        flex-direction: column
        padding: 10px
        border: 1px solid $border-color
        margin-top: 10px

        .caption
            text-align: center
            margin-bottom: 5px
            
        .inputs
            display: flex
            justify-content: space-between

        input[type="text"]
            width: 105px
            height: 21px
            &.width_auto
                width: auto

        &.light-border
            &.red
                border: 2px solid $red-border
            &.green
                border: 2px solid $green-border
            &.blue
                border: 2px solid $blue-border

    .automat-section
        padding: 5px
        input[type="text"]
            width: 55px

.buttons
    button
        height: 30px
    .center-icon
        margin: 0 auto
    .button-center
        display: flex
        align-items: center
        justify-content: center

#identification
    width: 55px
    height: 40px
    border: 1px solid black
    fill: #a80000

.paint-input
    border: 1px solid red

.automat
    input
        height: 21px
    &-inputs
        display: flex
        justify-content: space-between
        div
            justify-content: flex-end
            .static-field
                align-items: center
                justify-content: center
                display: flex
                height: 24px
                margin-top: 7px
    
    .caption
        padding: 5px
        border: 1px solid #959595
    .wrapper-checked
        display: flex
        justify-content: space-between
        margin-top: 10px
        &.only-off
            justify-content: flex-end

.module
    .wrapper-module
        display: flex
        flex-direction: column
        align-items: flex-end
        .wrapper
            margin-bottom: 5px

.relay
    .fields
        display: flex
        align-items: flex-end
        justify-content: center
        margin-top: 20px
    .wrapper-relay
        display: flex
        flex-direction: column
        align-items: flex-end
        .wrapper
            margin-bottom: 10px
            input[type="text"]
                width: 130px

.fuse
    flex-direction: revert
    justify-content: center
    margin-top: 20px
    &.margin-none
        margin-top: 0

.user
    .wrapper-user
        margin-left: 5px
        margin-top: 15px
        .wrapper
            input[type="text"]
                width: 250px
                height: 25px
            &:first-child
                margin-bottom: 5px