@import "vars.sass"
    
.popover
    position: absolute
    background-color: #ffffff
    border: 1px solid $border-color
    border-left: 3px solid #ff0000
    border-radius: 3px
    padding: 5px
    color: #000000

.arrow
    position: absolute
    border-width: 6px
    border-style: solid

.top-popover
    @extend .arrow
    top: 100%
    left: 50%
    margin-left: -6px
    border-color: blue transparent transparent transparent

.left-popover
    @extend .arrow
    top: 50%
    left: 100%
    margin-top: -6px
    border-color: transparent transparent transparent blue

.bottom-popover
    @extend .arrow
    top: 0
    left: 50%
    margin-top: -12px
    margin-left: -12px
    border-color: transparent transparent blue transparent

.right-popover
    @extend .arrow
    top: 50%
    left: 0
    margin-top: -6px
    margin-left: -12px
    border-color: transparent blue transparent transparent

.popover-window
    max-width: 400px
    .title
        text-align: center
        font-size: 18px