.wrapper-button
    display: flex
    justify-content: center
    align-items: center
    background-color: #f0f0f0
    height: 40px
    width: 100%
    border: 2px solid #646464
    button
        width: 250px
        height: 20px

.wrapper-classu
    display: flex
    flex-direction: column
    height: 80px
    justify-content: space-between
    .caption-panel
        display: flex
        align-items: center
        justify-content: center
        color: blue
        height: 20px
        border: 1px solid black
    .classu
        height: 40px
        .inputs-wrapper
            padding-top: 10px
            padding-bottom: 10px
        