@import './vars.sass';
@import './general.sass';
@import './media.sass';

*
    font-size: 12px
    box-sizing: border-box
    font-family: Tahoma, Verdana, Segoe, sans-serif
    padding: 0
    margin: 0

html,
body,
#root
    height: 100%

#root
    position: relative

p, span, a
    font-size: 14px
    line-height: 20px

p
    text-indent: 20px
    margin-top: 7px

a
    text-decoration: none
    color: black

.link
    color: #009999

.wrapper-page
    display: flex
    flex-direction: column
    height: 100%

main
    flex: 1 0 auto
    padding: 20px 0

ul
    list-style: none
    padding: 10px
    li
        font-size: 14px

.container
    display: flex
    width: 100%
    @include _desktop
        max-width: 1200px
        margin: 0 auto

.page
    margin-top: 50px

.content-page
    padding: 16px 12px 40px

.btn-face
    background-color: $btn-face
.white
    background-color: #ffffff
    
.shadow
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.7)

.question
    display: flex
    align-items: center
    justify-content: center
    width: 13px
    height: 13px
    border: 1px solid #333333
    border-radius: 50%
    background-color: #ffffff
    color: #333333
    font-weight: 700
    cursor: pointer
    padding: 8px
    margin: auto 5px

.help-wrapper
    position: relative
    .question
        position: absolute
        bottom: 0
        right: -40px
        width: 30px
        height: 30px
        &.center
            top: 50%
            bottom: auto
        &:hover
            background-color: #cccccc

.helper
    font-size: 10px

.viewport
    display: flex
    flex-direction: column
    width: max-content
    margin: 0 20px
    border-left: 1px solid $border-color
    border-right: 1px solid $border-color
    background-color: #0000000a
    &.right
        margin-right: 10px
        width: 100%

    &-caption
        background-color: $site-color
        display: flex
        height: 30px
        align-items: center
        justify-content: space-between
        padding-left: 20px
        color: white
        &-title
            font-size: 16px
        &-helper
            margin-right: 20px
            cursor: pointer
            text-decoration: underline
    &-content
        position: sticky
        top: 10px
        padding: 10px 0 10px 10px
        &.maximum
            max-width: 100%
        .help
            opacity: 0
            animation: show-help 1s forwards

@keyframes show-help
    100%
        opacity: 1 


.help
    overflow-y: scroll
    padding: 0 16px
    &::-webkit-scrollbar
        width: 0
    
    .title
        font-size: 20px
        text-align: center
        padding: 10px
    .content
        font-size: 16px

.main_caption
    display: flex
    justify-content: center
    width: 100%
    color: #fff
    border: 1px solid #000
    box-shadow: inset 0 0 4px
    text-align: center
    line-height: 30px
    font-size: 1.5em

.gradient_caption
    background: rgba(99, 99, 99, 1)

.mini_caption
    font-size: 16px
    margin: 20px 0
    line-height: 1.5em
    text-align: center
    border-top: 2px solid #000
    border-bottom: 2px solid #000
    color: #fff

.images
    overflow: hidden
    border: 1px solid #000
    .image
        height: auto
        width: 100%
        margin-bottom: 5px
    .signature
        display: block
        background-color: #000
        opacity: 0.7
        color: #fff
        text-align: center
        line-height: 20px
        font-size: 1em
        border: 1px solid black

.attention
    margin: 10px
    padding: 5px
    border: 1px solid #cccccc
    &::before
        content: 'Примечание: '
        font-weight: 700
        font-size: 16px

.wrapper-block
    padding: 15px
    border: 1px solid #dddddd
    border-radius: 5px

