svg
    border: 1px solid black
    background-color: #ffffff
    width: 100%

.title-project
    font-size: 20px
    font-weight: bold
    &.left
        text-anchor: start
    &.middle
        text-anchor: middle

.wrapper-arrow-sidebar
    position: relative
    border: 1px solid #000000
    width: 15px

.arrow-sidebar
    position: absolute
    border-width: 10px
    border-style: solid
    top: 50%
    left: 100%
    margin-top: 50%
    margin-left: -10px
    border-color: transparent transparent transparent blue